@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=League+Spartan&family=Montserrat&family=Open+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-yellow: rgb(255, 243, 151);
  --secondary-yellow: rgb(255, 250, 215);
  --primary-pink: rgb(255, 83, 163);
  --purple: rgb(73, 0, 115);
  --grey: rgb(116, 116, 116);
}

body {
  margin: 3rem;
  font-family: "Syncopate", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/Background.png");
  background-size: cover;
  color: white;
  /* overflow: hidden; */
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  height: 1.2rem;
  margin-left: 0.4rem;
}

.name {
  opacity: 0;
  font-size: 5rem;
  font-weight: bolder;
  background: linear-gradient(
    135deg,
    var(--primary-yellow) 0%,
    var(--primary-pink) 25%,
    var(--primary-yellow) 50%,
    var(--primary-pink) 75%,
    var(--primary-yellow) 100%
  );
  background-size: 400%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: text-color 20s linear infinite, fade-up-1 0.8s ease-out forwards;
}

@keyframes text-color {
  to {
    background-position: 400%;
  }
}
@keyframes fade-up-1 {
  from {
    opacity: 0;
    transform: translate(0%, 20%);
  }
  to {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}

.description {
  opacity: 0;
  line-height: 1.5rem;
  animation: fade-up-2 0.8s ease-out 0.4s forwards;
}

@keyframes fade-up-2 {
  from {
    opacity: 0;
    transform: translate(0%, 50%);
  }
  to {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}

.highlight1 {
  color: black;
  background: white;
  border-radius: 4rem;
  padding: 0.3rem 0.6rem;
  border: 2px solid white;
}

.highlight1:hover {
  cursor: pointer;
  color: white;
  background: transparent;
  border: 2px solid white;
  transition: all 0.5s;
}
.highlight2 {
  color: white;
  background: var(--purple);
  border-radius: 4rem;
  padding: 0.3rem 0.5rem;
  border: 2px solid var(--purple);
}

.highlight2:hover {
  cursor: pointer;
  color: var(--purple);
  background: transparent;
  border: 2px solid var(--purple);
  transition: all 0.5s;
}
.highlight3 {
  color: black;
  background: white;
  border-radius: 4rem;
  padding: 0.15rem;
  border: 2px solid white;
}

.highlight3:hover {
  cursor: pointer;
  color: white;
  background: transparent;
  border: 2px solid white;
  transition: all 0.5s;
}

/* .btn-container {
  transform: translate(150%, 0%);
} */

/***********************************************************************/
/* Projects Page */

.projects-heading {
  font-weight: 700;
  position: relative;
}

.projects-heading::after {
  content: "";
  height: 1px;
  width: 0%;
  background: white;
  position: absolute;
  top: 40%;
  margin-left: 1rem;
  animation: line 0.5s ease-in 1.5s forwards;
}

@keyframes line {
  from {
    width: 0%;
  }
  to {
    width: 84%;
  }
}

.project-item {
  background-color: var(--secondary-yellow);
  color: black;
  transition: all 0.5s;
}

.project-body {
  line-height: 1.2rem;
  font-family: "League Spartan", sans-serif;
}

.project-item:hover {
  transform: scale(105%);
}

.projects-container {
  opacity: 0;
  animation: fade-in 0.8s ease-in 1s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/***************************************************************************/

@media screen and (max-width: 640px) {
  .name {
    font-size: 2rem;
    line-height: 1.8rem;
  }
  .description {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  .projects-heading {
    font-size: 1.5rem;
  }
}

/***************************************************************************/
