@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=League+Spartan&family=Montserrat&family=Open+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-yellow: rgb(255, 243, 151);
  --secondary-yellow: rgb(255, 253, 239);
  --primary-pink: rgb(255, 83, 163);
  --purple: rgb(73, 0, 115);
  --grey: rgb(116, 116, 116);
}

body {
  margin: 3rem;
  font-family: "Syncopate", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/Background.png");
  background-size: cover;
  color: white;
  /* overflow: hidden; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  height: 1.5rem;
  margin-left: 0.4rem;
}

.name {
  font-size: 5rem;
  font-weight: bolder;
  line-height: 4.5rem;
  background: linear-gradient(
    135deg,
    var(--primary-yellow) 0%,
    var(--primary-pink) 25%,
    var(--primary-yellow) 50%,
    var(--primary-pink) 75%,
    var(--primary-yellow) 100%
  );
  background-size: 400%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: text-color 20s linear infinite;
}

@keyframes text-color {
  to {
    background-position: 400%;
  }
}

.description,
.game-description {
  line-height: 1.5rem;
}
.highlight1 {
  color: black;
  background: white;
  border-radius: 4rem;
  padding: 0.3rem 0.6rem;
  border: 2px solid white;
}

.highlight1:hover {
  cursor: pointer;
  color: white;
  background: transparent;
  border: 2px solid white;
  transition: all 0.3s;
}
.highlight2 {
  color: white;
  background: var(--purple);
  border-radius: 4rem;
  padding: 0.3rem;
  border: 2px solid var(--purple);
}

.highlight2:hover {
  cursor: pointer;
  color: var(--purple);
  background: transparent;
  border: 2px solid var(--purple);
  transition: all 0.3s;
}

/* .btn-container {
  transform: translate(150%, 0%);
} */

/***********************************************************************/
/* Projects Page */

.projects-heading {
  font-weight: 700;
  position: relative;
}

.projects-heading::after {
  content: "";
  height: 1px;
  width: 80%;
  background: white;
  position: absolute;
  top: 40%;
  margin-left: 1rem;
}

.project-item {
  background-color: var(--secondary-yellow);
  color: black;
}

.project-body {
  line-height: 1.2rem;
  font-family: "League Spartan", sans-serif;
}

/*****************************************************************/
/*Footer*/

.footer {
  position: relative;
}
.footer::before {
  content: "";
  height: 1px;
  width: 89%;
  background: white;
  position: absolute;
  top: 50%;
  left: 0;
}
